<template id="modal-layout">
    <aside class="modal" aria-labelledby="modal__title" aria-hidden="true" role="dialog">
        <div class="modal__container js-modal-stop">
            <!-- <h3 class="modal__title">Galerie photo</h3> -->
            <h3 class="modal__title">Ajout photo</h3>
            <span class="left-arrow"></span>
            <span class="close-button"></span>
            <div class="modal__content">
                <!-- <form action="#" method="post">
                    <div class="big-preview">
                        <label id="add_image" for="file" class="label"> Ajouter une image</label>
                        <span class="img-subtitute"></span>
                        <input name="file" id="file" type="file">
                        <button type="button">+ Ajouter photo</button>
                        <p>jpg, png : 4mo max</p>
                    </div>
                    <label for="title">Titre</label>
                    <input type="text" name="title" id="title">
                    <label for="category">Catégorie</label>
                    <select name="category" id="category">
                        <option value="0"></option>
                        <option value="1">Objets</option>
                        <option value="2">Appartements</option>
                        <option value="3">Hotels & restaurants</option>
                    </select>
                </form> -->
            </div>
            <!-- <div class="modal__content">
                <div class="small-preview">
                    <img src="assets/images/abajour-tahina.png" alt="Abajour Tahina">
                    <span class="icon"></span>
                </div>
                <div class="small-preview">
                    <img src="assets/images/appartement-paris-v.png" alt="Appartement Paris V">
                    <span class="icon"></span>
                </div>
                <div class="small-preview">
                    <img src="assets/images/restaurant-sushisen-londres.png" alt="Restaurant Sushisen - Londres">
                    <span class="icon"></span>
                </div>
                <div class="small-preview">
                    <img src="assets/images/la-balisiere.png" alt="Villa “La Balisiere” - Port Louis">
                    <span class="icon"></span>
                </div>
                <div class="small-preview">
                    <img src="assets/images/structures-thermopolis.png" alt="Structures Thermopolis">
                    <span class="icon"></span>
                </div>
                <div class="small-preview">
                    <img src="assets/images/appartement-paris-x.png" alt="Appartement Paris X">
                    <span class="icon"></span>
                </div>
                <div class="small-preview">
                    <img src="assets/images/le-coteau-cassis.png" alt="Pavillon “Le coteau” - Cassis">
                    <span class="icon"></span>
                </div>
                <div class="small-preview">
                    <img src="assets/images/villa-ferneze.png" alt="Villa Ferneze - Isola d’Elba">
                    <span class="icon"></span>
                </div>
                <div class="small-preview">
                    <img src="assets/images/appartement-paris-xviii.png" alt="Appartement Paris XVIII">
                    <span class="icon"></span>
                </div>
                <div class="small-preview">
                    <img src="assets/images/bar-lullaby-paris.png" alt="Bar “Lullaby” - Paris">
                    <span class="icon"></span>
                </div>
                <div class="small-preview">
                    <img src="assets/images/hotel-first-arte-new-delhi.png" alt="Hotel First Arte - New Delhi">
                    <span class="icon"></span>
                </div>
            </div> -->
            <div class="modal__button">
                <button type="button">Ajouter une photo</button>
            </div>
        </div>
    </aside>
</template>

<template id="modal-preview-layout">
    <div class="small-preview">
        <img src="assets/images/abajour-tahina.png" alt="Abajour Tahina">
        <span class="icon"></span>
    </div>
</template>

<template id="gallery-image-layout">
    <figure>
        <img src="assets/images/abajour-tahina.png" alt="Abajour Tahina">
        <figcaption>Abajour Tahina</figcaption>
    </figure>
</template>